@font-face {
    font-family: helvetica_Neue;
    src: url(./Fonts/HelveticaNeue.ttc);
}

@font-face {
    font-family: helvetica_Neue_condensed;
    src: url(./Fonts/HelveticaNeueCondensedBold.ttf);
}

html{
    overflow: hidden;
    overscroll-behavior: none;
}

body{
    margin: 0;
    font-family: helvetica_Neue; 
    
}
.main_container{
   background-color:#182231;
   width: 100%;
   height: 100dvh;
   margin: auto;


}
.div1{
width: 90%;
margin: auto;
height: 10%;
display: flex;
justify-content: space-between;
align-items: center;


}

.flex_box{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div3{
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101924;

    .flex_box{
        img{
            transition: .5s;
        }
    }
    
    
}


.work{
    color: #39424E;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    width: 150px;
    line-height: 1.3;
}

.Unless{
    color: #39424E;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
p{
    color: #9ea2a8;
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
}

.div2{
    width: 90%;
    height: 75%;
    margin: 0 auto;
    overflow: hidden;
    

    .trey{
        height: 100%;
        display: flex;
        width: 100%;
        /* transform: translateX(calc(-100%/3)); */
        /* transition: .1s; */
        color: white;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar{
            display: none;
        }


        .analytics{
            width: 100%;
            height: inherit;

            img{
                width: 100px;
                padding: 10px 0;
                filter: grayscale(1);
                opacity: .3;
            }
        }
        .task_container{
            width: 100%;
            height: inherit;
            margin: 0;
            position: relative;
            overflow-y:auto;

            img{
                filter: invert(1);
                opacity: .1;
            }
            
        }

        .history{
            height: inherit;
            width: 100%;

            img{
                width: 90px;
                padding: 15px 0;
                filter: grayscale(1);
                opacity: .3;
            }
        }

        :is(
            .analytics,
            .task_container,
            .history
        ){
            position: relative;
            flex: none;
            scroll-snap-align: start;
            .no_task{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
            }
        }
    }
}



h1{
    text-align: center;
    font-size: 14px;
    color: #4B535F;
}

.clipboard{
    width: 40px;
}

.Wours{
    color: #FF9A36;
    font-size: 25px;
    font-family: helvetica_Neue_condensed;
    font-weight: bold;
}

.settings{
    width: 40px;
}

.analysis{
    width: 30px;
}

.history_btn{
    width: 30px;
}

.plus{
    width: 60px;
}

@media screen and (max-width:500px) {
    body{
        .clipboard,.settings,.analysis,.history{
            width: 25px;
        }

        .flex_box{
            width: 60%;
        }
    }
}

