@font-face {
    font-family: helvetica_Neue;
    src: url(./Fonts/HelveticaNeue.ttc);
}

@font-face {
    font-family: helvetica_Neue_condensed;
    src: url(./Fonts/HelveticaNeueCondensedBold.ttf);
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: helvetica_Neue; 

    
}
.main_container{
    background-color:#182231;
   width: 100%;
   margin: auto;
   flex-direction: column;
   justify-content: center;
   
   height: 100vh;


}
.div1{
width: 90%;
margin: auto;
height: 10vh;
display: flex;
justify-content: space-between;
align-items: center;


}

.flex_box{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div3{
    width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101924;
    
}

.div2{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work{
    color: #39424E;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.Unless{
    color: #39424E;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
p{
    color: #9ea2a8;
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
}

.task_container{
    width: 90%;
    height: 65dvh;
    margin: 0;
    position: relative;
    overflow-y:auto;
    color: white;
    

    .no_task{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            width: 150px;
            line-height: 1.5;
            font-weight: 200;
            color: rgba(255, 255, 255, 0.211);
        }

        img{
            width: 40%;
        }
    }
}

h1{
    text-align: center;
    font-size: 14px;
    color: #4B535F;
}

.clipboard{
    width: 40px;
}

.Wours{
    color: #FF9A36;
    font-size: 25px;
    font-family: helvetica_Neue_condensed;
    font-weight: bold;
}

.settings{
    width: 40px;
}

.analysis{
    width: 30px;
}

.history{
    width: 30px;
}

.plus{
    width: 60px;
}

@media screen and (max-width:500px) {
    body{
        .clipboard,.settings,.analysis,.history{
            width: 25px;
        }

        .flex_box{
            width: 60%;
        }
    }
}

@media screen and (max-width:950px) and (orientation:landscape) {
    body{
        
    }
}